<div class="list-group">
    <a href="#monitor/{{name}}/status" class="list-group-item {{statusActive}}">Status</a>
    <a href="#monitor/{{name}}/queries" class="list-group-item {{queriesActive}}">Queries</a>
</div>
